.home_body {
    background-color: #fff;
    padding: 100px 0;
}
.home_item {
    padding: 10px;
    margin: 5px 0;
    display: flex;
}
.home_item button.btn_add:hover  {
    background-color:#5c1864;
}
.home_item:hover button span {
    color: #fff;
}
.home_item .btn_add{
    border: none;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #782c81;
    flex: 1;
    margin-right: 15px;
}
.home_item span{
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}
.home_item form{
    flex: 3;
    display: inline-flex;
    position: relative;
}
.btn_tg {
    margin: 10px 0;
    color: #1a73e8;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
    margin-left: 10px;
}

  /*  */
  .home_title{
      font-size: 44px;
      padding: 0 0 22px;
      margin: 0;
      color: #000;
  }
  .span_title{
      font-size: 18px;
      padding-bottom: 3em;
      color: #5f6368;
  }
  .carousel {
      min-height: 70vh;
  }
  .carousel-item {
      z-index: 1;
  }
  .img_slide{
      width: 330px; 
      height: 330px;
      margin: 0 auto;
  }
  .carousel-caption {
      color: #000;
      position: revert;
      width: 330px;
      margin: 0 auto;
  }
  .carousel-caption h3{
      font-size: 24px;
  }
  .carousel-caption p {
      font-size: 14px;
  }
  .carousel-indicators{
      margin-bottom: 0;
  }
  .carousel-indicators [data-bs-target] {
      width: 6px;
      height: 6px;
      border-radius: 10px;
      background-color: #782c81;
      border-top: 0;
      border-bottom:0;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: #000;
  }
  .carousel-control-prev {
      left: 55px;
  }
  .carousel-control-next {
      right: 55px;
  }

  /* tabs */
  .tabs{
      margin-bottom: 20px;
  }
  .btn_tabs, .tabs_active {
    border: none;
    background: none;
    padding: 10px 20px;
    font-size: 18px;
    color: #a1a1a1;
  }
  .btn_tabs:hover {
      background: #eee;
  }
  .tabs_active {
      border-bottom: 2px solid #782c81;
      color: #782c81;
  }
  .tab-content h2{
      margin-bottom: 20px;
      font-size: 24px;
  }
  .list_room{
    display: flex;
  }
  .btn_delete{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

@media screen and (max-width: 1024px){
    .carousel-control-prev {
        left: 0;
    }
    .carousel-control-next {
        right: 0;
    }
}

@media screen and (max-width:767px) {
    .home_title{
        font-size: 28px;
    }
    .span_title {
        font-size:16px;
    }
    .carousel{
        margin-top: 20px;
    }
}