.home {
    width: 100%;
    height: 100vh;
    /* padding-top: 20px; */
    overflow-y: scroll;
}

.go-back {
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    width: 45%;
    height: 50px;
    position: relative;
    margin-bottom: 25px;
}

.go-back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 18px;
}

.go-back span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.9s;
}

.go-back:hover span {
    padding-left: 25px;
}

.go-back:hover span:after {
    opacity: 1;
    left: 0;
}

.home-sidebar {
    width: 100%;
    height: 100%;
}

.home-sidebar-title, .home-sidebar-content {
    width: 95%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    margin-top: 25px;
}
 .home-sidebar-content {
     margin-top: 0;
 }

.home-sidebar-location {
    padding: 20px 10px;
    width: 95%;
    min-height: 50px;
    margin: 15px auto;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
}
.home-sidebar-location span {
    font-size: 15px;
}
.vote_room {
    display: flex;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 5px 0;
}

.vote_room:hover {
    background-color: #eee;
    border-radius: 5px;
}

.quantilyVote_room{
    border-radius:50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -5px;
    background-color: rgb(81, 81, 70,0.2);
    font-size:15px;
    margin-top: 10px;
}
.locationVote{
    margin-left:15px;
    margin-right:40px;
    font-size: 20px;
}
.sidebar {
    width: 25%;
    height: calc(100% - 25px)
}
.maps {
    width: 75vw;
    height: 100vh;
    /* overflow-y: hidden; */
}
.homeView {
    text-align: center;
    display: flex;
    border-radius: 5px;
    width: 100%;
}

.btnEndVote button {
    width: 45%;
    height: 50px;
    margin-top: 55px;
    border-radius: 8px;
    border: 1px solid;
    font-size: 18px;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 25px;
}

.btnEndVote button:hover {
    background-color: #f4511e;
    color: #fff;
    border: none;
}

.btnAddLocation button {
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: normal;
    font-size: 18px;
    background-color: #FFFFFF;
    position: relative;
}

.btnShareLink button {
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid;
    font-weight: normal;
    font-size: 18px;
    background-color: #FFFFFF;
    position: relative;
}

.listClient {
    position: absolute;
    width: 150px;
    height: 40px;
    background-color: #fff;
    top: 30px;
    right: 50px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
}
.mapBox {
    position: relative;
}

h3.titel_banner{
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}
.home-sidebar-title h2{
    font-size: 28px;
    font-weight: 700;
}
.home-sidebar-content h2 {
    font-size: 24px;
    font-weight: 500;
}
.vote_people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img_people{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
/*checkbox*/
.custom {
    opacity: 0;
    position: relative;
  }
  .custom + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
      color: #2e3553;
  }
  .label_vote{
      padding-right:15px;
  }
  .custom[type="checkbox"] + label::before {
    content: "";
    width: 3em;
    height: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 1em;
    border-radius: 6px;
    background-color: transparent;
    transition: background 300ms ease-in;
  }
  .custom[type="checkbox"] + label::after {
    content: "\2713";
    color: white;
    position: absolute;
    left: 7px;
    transform: scale(0);
    transition: all 300ms ease-in-out;
  }
  .custom[type="checkbox"]:checked + label::after {
    transform: scale(1.2);
  }
  .custom[type="checkbox"]:checked + label::before {
    background-color: #5850ec;
  }
  .custom[type="radio"] + label::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 300ms ease-in;
  }
  .custom[type="radio"] + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 7px;
    width: 0.7em;
    height: 0.7em;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 300ms ease-in-out;
  }
  .custom[type="radio"]:checked + label::before {
    background-color: #5850ec;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .custom[type="radio"]:checked + label::after {
    transform: scale(0.9);
    border: 1px solid #5850ec;
  }
  .custom[type="radio"]{
      display: none;
  
  }