.App {
  text-align: center;
}
.login_wrapper {
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.login_wrapper a.btn,
.login_btn {
  color: #782c81;
  height: 50px;
  padding: 5px 15px;
  line-height: 36px;
  border-radius: 5px;
  background: #fff;
  font-size: 16px;
  border: 1px solid #782c81;
  text-decoration: none;
  outline: none;
}

.login_btn_wrapper a.btn:hover,
.login_btn:hover {
  color: #fff;
  background: #782c81;
}

.login_wrapper a.google-plus {
  background: #db4c3e;
  border: 1px solid #db4c3e;
}

.login_wrapper h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #111;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.formsix-pos,
.formsix-e {
  position: relative;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  border-radius: 8px;
  background-color: #ccc;
}

.form_row {
  text-align: center;
}

.login_btn_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}

.login_btn_wrapper a.login_btn {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 20px 0;
  font-weight: bold;
}

.krqetT {
  position: fixed;
  background-color: rgb(0, 0, 0);
  transform: rotate(45deg);
  opacity: 0.1;
  top: -15vmin;
  left: -15vmin;
  min-width: 50vmin;
  min-height: 50vmin;
}
.ifKAln {
  position: fixed;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  min-width: 50vmin;
  min-height: 50vmin;
  bottom: -15vmin;
  right: -15vmin;
}
.msg_err {
  color: #d41a1a;
  font-size: 11px;
  position: absolute;
  bottom: -32px;
}
button.btn_address {
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 6px 25px;
  line-height: 36px;
  border-radius: 5px;
  background: #9737a2;
  font-size: 16px;
  border: 1px solid #9737a2;
  text-decoration: none;
  outline: none;
}
.btn_address {
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 6px 25px;
  line-height: 36px;
  border-radius: 5px;
  background: #782c81;
  font-size: 16px;
  border: 1px solid #782c81;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}
.icon_social {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

/* css style scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 8px;
}

/* Login Form */
.add_form {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form_left{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form_bg {
  border-radius: 10px;
  box-shadow: 0px 5px 7px 7px #ddd;
  margin: 0 auto;
}
.img_bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

@media screen and (max-width: 992px){
  .form_left {
      order: 2;
      margin-top: 20px;
  }
  .div_bg {
      order: 1;
  }
}   
/* end login Form */

input::-webkit-input-placeholder { 
  font-family: sans-serif;
}
button {
  box-shadow: none;
}